:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Kalam, cursive;

  /* Text color */
  --primary-text-cl: #2c2c2c;
  --accent-text-cl: #bbf330;
  --link-text-cl: #7eb101;
  --faile-text-cl: #ff705d;

  // Border colour
  --menu-border-cl: #ffe550;
  --menu-avtiv-border-cl: #bbf330;
  --fail-border-cl: #ff705d;
  --border-bc-cl: #ffffff80;
  --line-border-cl: #7eb101;

  // Bacground-color

  --wite-bcg-cl: #ffffff;
  --fill-bcg-cl: #ffe550;

  // Buttons color
  --btn-cl: #bbf330;
  --accent-btn-cl: #b5ff00;
}
