<section class="customers container">
  <div class="customers__group">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__uppertitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list list">
      <li class="customers__item">
        <div class="group-svg">
          <ul class="customers-svg-list list">
            <li class="customers-svg-item"></li>
            <li class="customers-svg-item"></li>
            <li class="customers-svg-item"></li>
            <li class="customers-svg-item"></li>
          </ul>
        </div>
        <p class="customers__txt">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <h3 class="customers__name">Sumith Shah</h3>
        <p class="customers__who-txt">Some Dude</p>
      </li>
      <li class="customers__item">
        <div class="group-svg">
          <ul class="customers-svg-list list">
            <li class="customers-svg-item">
              <svg class="grade-svg" width="18" height="16">
                <use></use>
              </svg>
            </li>
            <li class="customers-svg-item"></li>
            <li class="customers-svg-item"></li>
            <li class="customers-svg-item"></li>
          </ul>
        </div>
        <p class="customers__txt">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <h3 class="customers__name">Sumith Shah</h3>
        <p class="customers__who-txt">Some Dude</p>
      </li>
    </ul>
  </div>
</section>
