<section class="customers container">
  <h2 class="customers__title">What our Customers Say</h2>
  <p class="customers__uppertitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="customers__list list">
    <li class="customers__item animate__animated animate__fadeIn">
      <div class="customers__group-svg">
        <ul class="customers__svg-list list">
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
      </div>
      <p class="customers__txt">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="customers__info">
        <img
          class="customer__men-img"
          alt="Photo client"
          src="./images/customers/customer-man.jpg"
          width="48"
          height="48"
        />
        <div class="customers__group-info">
          <h3 class="customers__name">Sumith Shah</h3>
          <p class="customers__who-txt">Some Dude</p>
        </div>
      </div>
    </li>
    <li class="customers__item animate__animated animate__fadeIn">
      <div class="customers__group-svg">
        <ul class="customers__svg-list list">
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers-svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
          <li class="customers__svg-item">
            <svg class="grade-svg" width="18" height="16">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>
      </div>
      <p class="customers__txt">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </p>
      <div class="customers__info">
        <img
          class="customer__men-img"
          alt="Photo client"
          src="./images/customers/customer-woman.jpg"
          width="48"
          height="48"
        />
        <div class="customers__group-info">
          <h3 class="customers__name">Sumith Shah</h3>
          <p class="customers__who-txt">Some Dude</p>
        </div>
      </div>
    </li>
  </ul>
</section>
