<section class="favorites-section">

    <div class="favorites-container">

      <h2 class="favorites__title">Some of Our Favorites</h2>

      <p class="favorites__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

    <ul class="favorites list">
      <li class="favorites__item">

        <a class="favorites__link link" href="">

          <div class="favorites__shell">
            <picture>
                <source
                  srcset="
                    ../src/images/favorites/lg/gamburger-@1x_lg.png 1x,
                    ../src/images/favorites/lg/gamburger-@2x_lg.png 2x
                  "
                  media="(min-width:1200px)"
                />
                <source
                  srcset="
                    ../src/images/favorites/md/gamburger-@1x_md.png 1x,
                    ../src/images/favorites/md/gamburger-@2x_md.png 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ../src/images/favorites/sm/gamburger-@1x_sm.png 1x,
                    ../src/images/favorites/sm/gamburger-@2x_sm.png 2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="gamburger__photo"
                  src="../src/images/favorites/lg/gamburger-@1x_lg.png"
                  alt="gamburger"
                  height="223"
                width="223"
                />
            </picture>
          </div>
        </a>
      </li>
      <li class="favorites__item">
      
        <a class="favorites__link link" href="">
      
          <div class="favorites__shell">
            <picture>
              <source srcset="
                          ../src/images/favorites/lg/pasta-@1x_lg.png 1x,
                          ../src/images/favorites/lg/pasta-@2x_lg.png 2x
                        " media="(min-width:1200px)" />
              <source srcset="
                          ../src/images/favorites/md/pasta-@1x_md.png 1x,
                          ../src/images/favorites/md/pasta-@2x_md.png 2x
                        " media="(min-width:768px)" />
              <source srcset="
                          ../src/images/favorites/sm/pasta-@1x_sm.png 1x,
                          ../src/images/favorites/sm/pasta-@2x_sm.png 2x
                        " media="(min-width:320px)" />
              <img class="gamburger__photo" src="../src/images/favorites/lg/pasta-@1x_lg.png" alt="pasta" height="223"
                width="223" />
            </picture>
          </div>
        </a>
      </li>
      <li class="favorites__item">
      
        <a class="favorites__link link" href="">
      
          <div class="favorites__shell">
            <picture>
              <source srcset="
                                ../src/images/favorites/lg/pizza-@1x_lg.png 1x,
                                ../src/images/favorites/lg/pizza-@2x_lg.png 2x
                              " media="(min-width:1200px)" />
              <source srcset="
                                ../src/images/favorites/md/pizza-@1x_md.png 1x,
                                ../src/images/favorites/md/pizza-@2x_md.png 2x
                              " media="(min-width:768px)" />
              <source srcset="
                                ../src/images/favorites/sm/pizza-@1x_sm.png 1x,
                                ../src/images/favorites/sm/pizza-@2x_sm.png 2x
                              " media="(min-width:320px)" />
              <img class="gamburger__photo" src="../src/images/favorites/lg/pizza-@1x_lg.png" alt="pasta" height="223"
                width="223" />
            </picture>
          </div>
        </a>
      </li>
    </ul>
    </div>
</section>
