<!-- Hero section -->
<section class="hero container" id="hero">
  <div class="hero__group">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat
    </p>
    <button class="hero__btn" type="button" data-modal-open>Order Now</button>
  </div>
  <div class="hero__slider">
    <div class="hero__slider--container">
      <div class="slider__line">
        <!-- Slide 1 -->
        <picture class="swiper-slide">
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hero/img1@1x-lg.webp 1x,
              ./images/hero/img1@2x-lg.webp 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 767px)"
            srcset="
              ./images/hero/img1@1x-md.webp 1x,
              ./images/hero/img1@2x-md.webp 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/hero/img1@1x-lg.webp"
            alt="Meetball and toast"
            width="528"
            height="528"
          />
        </picture>
        <!-- Slide 2 -->
        <picture class="swiper-slide">
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hero/img2@1x-lg.webp 1x,
              ./images/hero/img2@2x-lg.webp 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 767px)"
            srcset="
              ./images/hero/img2@1x-md.webp 1x,
              ./images/hero/img2@2x-md.webp 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/hero/img2@1x-lg.webp"
            alt="Meetball and toast"
            width="528"
            height="528"
          />
        </picture>
        <!-- Slide 3 -->
        <picture class="swiper-slide">
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/img3@1x-lg.webp 1x,
              ./images/hero/img3@2x-lg.webp 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 767px)"
            srcset="
              ./images/hero/img3@1x-md.webp 1x,
              ./images/hero/img3@2x-md.webp 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/hero/img3@1x-lg.webp"
            alt="Meetball and toast"
            width="528"
            height="528"
          />
        </picture>
      </div>
    </div>
    <ul class="slider__controls list">
      <li class="slider__item-controls">
        <button
          class="slider__btn--right swiper-button-next"
          type="button"
          aria-label="Right Align"
        >
          <svg class="slider__btn--icon">
            <use href="./images/sprite.svg#btn-left"></use>
          </svg>
        </button>
      </li>
      <li class="slider__item-controls">
        <button
          class="slider__btn--left swiper-button-prev"
          type="button"
          aria-label="Left Align"
        >
          <svg class="slider__btn--icon">
            <use href="./images/sprite.svg#btn-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
