<div class="menu-overlay" data-menu>
  <div class="menu" data-menu-close>
    <ul class="menu__list list">
      <li class="menu__item">
        <a class="menu__link link" href="./index.html">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">About</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Service</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Menu</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
