<!-- Mobile menu Olga Shapran -->

<div class="menu-overlay" data-menu>
  <div class="menu">
    <button class="menu__btn" type="button" data-menu-close>
      <svg class="menu__icon" width="24" height="24">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>
    <ul class="menu__list list">
      <li class="menu__item">
        <a class="menu__link link" href="./index.html">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">About</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Service</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Menu</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
