<section class="offerings container">
  <!-- left side -->
  <div class="offerings_img">
    <div class="offerings_img--decor">
      <!-- <img src="" alt="" /> -->
    </div>
  </div>
  <!-- Right side -->
  <div class="offerings__box">
    <div class="offerings__box--txt">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings-txt"></p>
    </div>
    <div class="offerings__box--card">
      <ul class="offerings__card-set list">
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg class="use"></svg>
            <h3 class="offerings__item--title"></h3>
            <p class="offerings__item--txt"></p>
          </div>
        </li>
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg class="use"></svg>
            <h3 class="offerings__item--title"></h3>
            <p class="offerings__item--txt"></p>
          </div>
        </li>
      </ul>
      <button type="button" class="offerings__btn"></button>
    </div>
  </div>
</section>
