<section class="offerings container" id="offerings">
  <!-- left side -->
  <div class="offering__container--left">
    <div class="offerings_img--container">
      <div class="offerings_img--decor">
        <div class="offerings__crc">
          <picture class="offerings_img">
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/offerings/apple@1x-lg.webp 1x,
                ./images/offerings/apple@2x-lg.webp 2x
              "
              type="image/jpg"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 767px)"
              srcset="
                ./images/offerings/apple@1x-md.webp 1x,
                ./images/offerings/apple@2x-md.webp 2x
              "
              type="image/jpg"
            />

            <!-- mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/offerings/apple@1x-sm.webp 1x,
                ./images/offerings/apple@2x-sm.webp 2x
              "
              type="image/jpg"
            />

            <img src="./images/offerings/apple@1x-lg.webp" alt="apple" />
          </picture>

          <div class="offerings__gradient"></div>
        </div>
      </div>
    </div>
    <!-- Tablet img -->
    <div class="img__tablet--box">
      <picture class="img__tablet--bg">
        <!-- tablet screen -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/offerings/apple-1@1x-md.webp 1x,
            ./images/offerings/apple-1@2x-md.webp 2x
          "
          type="image/jpg"
        />

        <img src="./images/offerings/apple-1@1x-md.webp" alt="apple" />
      </picture>

      <picture class="img__tablet--sm">
        <!-- tablet screen -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/offerings/apple-2@1x-md.webp 1x,
            ./images/offerings/apple-2@2x-md.webp 2x
          "
          type="image/jpg"
        />

        <img src="./images/offerings/apple-2@1x-md.webp" alt="apple" />
      </picture>
    </div>
  </div>
  <!-- Right side -->
  <div class="offerings__box">
    <div class="offerings__box--txt">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <div class="offerings__box--card">
      <ul class="offerings__card-set list">
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg width="32" height="32">
              <use href="./images/sprite.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__item--title">Fasest Delivery</h3>
          <p class="offerings__item--txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg width="32" height="32">
              <use href="./images/sprite.svg#touch_app"></use>
            </svg>
          </div>
          <h3 class="offerings__item--title">Easy To Order</h3>
          <p class="offerings__item--txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <ul class="offerings__btn--list list">
        <li class="offerings__btn--item">
          <button type="button" class="offerings__btn" data-modal-open>
            Order Now
          </button>
        </li>
        <li class="offerings__btn--item">
          <button type="button" class="offerings__btn--right">
            Read More
            <span class="offerings__btn--decor"
              ><svg class="offerings__btn--icon" width="13.67" height="13.67">
                <use href="./images/sprite.svg#btn-icon"></use></svg
            ></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
