<section class="offerings container">
  <!-- left side -->
  <div class="offerings_img--container">
    <div class="offerings_img--decor">
      <div class="offerings__crc">
        <img
          class="offerings_img"
          src="./images/offerings/apple@1x-lg.png"
          alt="apple"
          width=""
          height=""
        />
        <div class="offerings__gradient"></div>
      </div>
    </div>
  </div>
  <!-- Right side -->
  <div class="offerings__box">
    <div class="offerings__box--txt">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <div class="offerings__box--card">
      <ul class="offerings__card-set list">
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg width="32" height="32">
              <use href="./images/sprite.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__item--title">Fasest Delivery</h3>
          <p class="offerings__item--txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="offerings__shell">
            <svg width="32" height="32">
              <use href="./images/sprite.svg#touch_app"></use>
            </svg>
          </div>
          <h3 class="offerings__item--title">Easy To Order</h3>
          <p class="offerings__item--txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button type="button" class="offerings__btn">Order Now</button>
    </div>
  </div>
</section>
