<section class="container" id="subscribe">
  <div class="subscribe">
    <div>
      <div class="banan">
        <picture>
          <source
            srcset="
              ./images/Subscribe-banan/banan-desctop1x.webp 1x,
              ./images/Subscribe-banan/banan-desctop2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Subscribe-banan/banan-tablet1x.webp 1x,
              ./images/Subscribe-banan/banan-tablet2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Subscribe-banan/banan-mobile1x.webp 1x,
              ./images/Subscribe-banan/banan-mobile2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class=""
            src="./images/Subscribe-banan/banan-mobile1x.webp"
            alt="Banan"
            width="608"
            height="266"
          />
        </picture>
      </div>
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <p class="subscribe-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe-form">
        <label
          for="subscribe-e-mail"
          class="subscribe-input__email-field"
        ></label>
        <input
          type="email"
          class="subscribe-input__email"
          name="e-mail"
          id="subscribe-e-mail"
          placeholder="Enter your email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
        />
        <button type="submit" class="subscribe-input__button">Subscribe</button>
        <!-- attention -->

        <span class="form__attention">
          <svg class="form__attention-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-Attetention"></use>
          </svg>
          <span class="attention__text"
            >Not a valid email address (example@email.com)</span
          >
        </span>
      </form>
    </div>
  </div>
</section>
