.footer {
  background-color: var(--heder-bcg-cl);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @media screen and (max-width: 767px) {
    background-image:
    // right
     url('../images/footer/orangesm.png'),
      url('../images/footer/sprayorangesm.png'),
// bottom
      url('../images/footer/top1sm.png'), url('../images/footer/top2sm.png'),
      url('../images/footer/top3sm.png'), url('../images/footer/top4sm.png'),
// left
      url('../images/footer/left1sm.png'), url('../images/footer/left2sm.png');

    background-repeat: no-repeat;
    background-position:
    // // right
     top 25px right 0, top 0 right 0,
    // bottom
     left 43px bottom 0, left 72px bottom 0, left 126px bottom 0, left 216px bottom 0,
// left    
      top 111px left 0, top 137px left 0;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/footer/orangemd@1x.png'),
      url('../images/footer/sprayorangemd@1x.png'),
      url('../images/footer/bottom1md.png'),
      url('../images/footer/top1md@1x.png'),
      url('../images/footer/top2md@1x.png'),
      url('../images/footer/top3md@1x.png'),
      url('../images/footer/top4md@1x.png'),
      url('../images/footer/bottom2md.png');

    background-repeat: no-repeat;
    background-position:
      // right
      top 35px right 0, top 0 right 0,
      // bottom
      left -17px bottom 0,
      left 136px bottom 0, left 197px bottom 0,
      
      right 233px bottom 0,
      right 94px bottom 0, right 0 bottom 0;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/footer/lg/1lg@1x.png'),
      url('../images/footer/lg/2lg@1x.png'),
      url('../images/footer/lg/3lg@1x.png'),
      // lg orange
      url('../images/footer/lg2.png'),
      url('../images/footer/lgorange1.png'),
      url('../images/footer/lg/6lg@1x.png'),
      url('../images/footer/lg/7lg@1x.png'),
      url('../images/footer/lg/8lg@1x.png');

    background-repeat: no-repeat;
    background-position:
      // bottom
      left 53px bottom 0, left 216px bottom 0, left 280px bottom 0,
      // lg orange
      center bottom 0,
      center bottom 0, right 282px bottom 0, right 134px bottom 0,
      right 16px bottom 0;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer__logo-navigation-subscribe {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.footer__logo-navigation {
  display: flex;
  gap: 81px;
  flex-direction: row;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 114px;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    margin-bottom: 0;
    gap: 145px;
  }
}

.footer__logo {
  display: inline-block;
}

.footer__nav {
  @media screen and (min-width: 1280px) {
    margin-right: 320px;
  }
}

.footer__list {
  flex-direction: column;
  display: flex;
  gap: 20px;
  text-align: left;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 28px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    gap: 28px;
  }
}

.footer__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: #000000;

  transition-property: color, text-decoration;
    @extend %animation;

  &:hover,
  &:focus {
    color: var(--accent-text-cl);
    text-decoration: underline;
  }
}

//   < !-- subscribe -->
.footer__form-div {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.footer__form {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 13px;
    align-items: flex-end;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}

.footer__text {
  text-align: left;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--primary-text-cl);
}

.footer__input {
  display: block;
  width: 100%;
  max-width: 279px;
  height: 42px;

  padding: 12px;
  padding-right: 0;
  background-color: var(--wite-bcg-cl);
  border: 0.854167px solid var(--fill-bcg-cl);
  border-radius: 30px;
  outline: transparent;

  transition-property: border;
  @extend %animation;

  &:focus,
  &:active {
    border: 0.854167px solid var(--link-text-cl);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

//прижать кнопку вправо
.footer__btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;

  padding: 11px 22px;
  width: 103px;
  height: 42px;
  background-color: var(--wite-bcg-cl);
  border: 0.854167px solid var(--line-border-cl);
  border-radius: 30px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  transition-property: background-color;
  @extend %animation;

  &:hover,
  &:focus {
    background-color: var(--fill-bcg-cl);
  }
}

.footer__checkbox {
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  color: var(--primary-text-cl);

  &--conditions {
    text-decoration: underline;
    color: var(--link-text-cl);
  }
}

// < !-- список посилань and копирайт -->
.footer__settings {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__settings-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 0;
  }
}

.footer__settings-link {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration: underline;
  color: var(--link-text-cl);
}

// < !-- coryright-->
.footer__coryright {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--primary-text-cl);
}
