.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 767px) {
    background-image: url(../images/footer/sm/Fruit_left@1xsm.webp),
      url(../images/footer/sm/Fruit_bottom@1xsm.webp),
      url(../images/footer/sm/Fruit_right@1xsm.webp);
    background-position: top 132 left 0, bottom 0 left 43, right 0 top 0;
    background-size: 110px 116px, 253px 66px, 104px 259px, contain;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/sm/Fruit_left@2xsm.webp),
        url(../images/footer/sm/Fruit_bottom@2xsm.webp),
        url(../images/footer/sm/Fruit_right@2xsm.webp);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/footer/md/Fruit@1xmd.webp);
    background-position: bottom 0 left 0;
    background-size: 785px 506px, contain;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/md/Fruit@2xmd.webp);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/lg/Fruit@1xlg.webp);
    background-position: bottom 0 left 53px;
    background-size: 1211px 266px, contain;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/lg/Fruit@2xlg.webp);
    }
  }
}

.footer__logo-navigation-subscribe {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.footer__logo-navigation {
  display: flex;
  gap: 81px;
  flex-direction: row;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 114px;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    margin-bottom: 0;
    gap: 145px;
  }
}

.footer__logo {
  display: inline-block;
}

.footer__nav {
  @media screen and (min-width: 1280px) {
    margin-right: 320px;
  }
}

.footer__list {
  flex-direction: column;
  display: flex;
  gap: 20px;
  text-align: left;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 28px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    gap: 28px;
  }
}

.footer__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: #000000;

  transition-property: color, text-decoration;
  @extend %animation;

  &:hover,
  &:focus {
    color: var(--accent-text-cl);
    text-decoration: underline;
  }
}

//   < !-- subscribe -->
.footer__form-div {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.footer__form {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 13px;
    align-items: flex-end;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}

.footer__text {
  text-align: left;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--primary-text-cl);
}

.footer__input {
  display: block;
  width: 100%;
  width: 279px;
  height: 42px;

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #505050;

  padding: 12px;
  padding-right: 0;
  background-color: var(--wite-bcg-cl);
  border: 0.854167px solid var(--fill-bcg-cl);
  border-radius: 30px;
  outline: transparent;

  transition-property: border;
  @extend %animation;

  &:focus,
  &:active {
    border: 0.854167px solid var(--link-text-cl);
  }

  &:not(:placeholder-shown):required:valid {
    border-color: var(--line-border-cl);
  }

  &:not(:placeholder-shown):required:invalid {
    border-color: var(--fail-border-cl);
  }

  @media screen and (max-width: 767px) {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer__btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;

  font-weight: 500;
  line-height: 150%;
  font-size: 13px;

  color: var(--primary-text-cl);

  padding: 11px 22px;
  width: 103px;
  height: 42px;
  background-color: var(--wite-bcg-cl);
  border: 0.854167px solid var(--line-border-cl);
  border-radius: 30px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    float: right;
  }

  transition-property: background-color;
  @extend %animation;

  &:hover,
  &:focus {
    background-color: var(--fill-bcg-cl);
  }
}

.footer__checkbox {
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  color: var(--primary-text-cl);

  &--conditions {
    text-decoration: underline;
    color: var(--link-text-cl);
  }

  @media screen and (max-width: 767px) {
    margin-top: 82px;
  }
}

// < !-- список посилань and копирайт -->
.footer__settings {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__settings-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 0;
  }
}

.footer__settings-link {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration: underline;
  color: var(--link-text-cl);
}

// < !-- coryright-->
.footer__coryright {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--primary-text-cl);
}
