/**
  |============================
  | Offerings section
  |============================
*/

.offerings {
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 480px) {
    background-image: url(../images/offerings/bcg-img@1x-sm.png);
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../images/offerings/bcg-img@1x-md.png);
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    background-image: url(../images/offerings/bcg-img@1x-lg.png);
  }
}
.offerings_img--container {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    width: 357px;
    height: 394px;
    margin-top: 115px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    width: 550px;
    height: 604px;
    margin-right: 90px;
    margin-top: 177px;
    margin-bottom: 75px;
  }
}

// .offerings__box {
//   width: 573px;
//   height: 393px;
//   margin-top: 280px;
//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     margin-top: 60px;
//   }
// }

.offerings_img--decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 357px;
    height: 357px;
  }
  @media screen and (min-width: 1280px) {
    width: 550px;
    height: 550px;
  }
}
.offerings__crc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  background-color: var(--wite-bcg-cl);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 326px;
    height: 326px;
  }
  @media screen and (min-width: 1280px) {
    width: 502px;
    height: 502px;
  }
}
.offerings__gradient {
  position: relative;
  width: 252px;
  height: 87px;
  margin-bottom: 51px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  filter: blur(26px);
}
.offerings_img {
  position: absolute;
  z-index: 100;
  top: -78;
}

.offerings__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: var(--primary-text-cl);
  margin-bottom: 20px;
  margin-top: 280px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 60px;
    width: 526px;
  }
}

.offerings-txt {
  line-height: 150%;
  color: var(--primary-text-cl);
  margin-bottom: 40px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 526px;
  }
}

.offerings__card-set {
  display: flex;
}
.offerings__item {
  width: 253px;
  gap: 67px;
  margin-right: 67px;
  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 116px;
  }
}
.offerings__shell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--wite-bcg-cl);
  margin-bottom: 10px;
}
.offerings__item--title {
  font-weight: 700;
  font-size: 17.0833px;
  line-height: 140%;
  color: var(--primary-text-cl);
  margin-bottom: 16px;
}
.offerings__item--txt {
  font-size: 14px;
  line-height: 150%;
  color: var(--primary-text-cl);
  margin-bottom: 32px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }
}
.offerings__btn {
  width: 106px;
  height: 40px;
  background-color: var(--btn-cl);
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: inherit;
  background-color: var(--wite-bcg-cl);
  cursor: pointer;
  border: 2px solid var(--accent-secondary-btn--cl);

  transition-property: border-color;
  @extend %animation;

  &:hover {
    border-color: var(--btn-secondary-cl);
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 100px;
  }
}
