.subscribe {
    display: flex;
    background-color: #fefefe;
    position: relative;
    // flex-wrap: wrap;
    // outline: 1px solid red;



}

.subscribe-title {
    // outline: 1px solid red;
    font-family: var(--primary-font);
    text-transform: capitalize;
    color: var(--primary-text-cl);
    margin-left: 20px;
    margin-top: 112px;
    font-weight: 700;
    font-size: 28px;

    width: 280px;

    line-height: calc(37px/28px);

    margin-bottom: 20px;

    @media screen and (min-width: 767px) {
        line-height: calc(50px/42px);
        font-size: 42px;
        width: 656px;
        margin-left: 17px;
        margin-top: 180px;


    }
}

.subscribe-text {
    // outline: 1px solid red;
    font-family: var(--primary-font);

    font-weight: 400;
    width: 280px;
    font-size: 14px;
    line-height: calc(16px/14px);
    color: var(--primary-text-cl);
    margin-left: 20px;
    margin-bottom: 40px;

    @media screen and (min-width: 767px) {
        font-size: 16px;
        line-height: calc(24px/16px);
        width: 656px;
        margin-bottom: 24px;
        margin-left: 17px;


    }
}


.subscribe-input__email {
    // outline: 1px solid red;

    font-family: var(--primary-font);
    width: 279px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    color: var(--primary-text-cl);
    border: 0.854167px solid var(--menu-border-cl);
    border-radius: 30px;
    background-color: inherit;
    text-align: left;
    padding-left: 12px;
    margin-left: 21px;

    &::placeholder {
        color: #505050;
    }

    // @media screen and (min-width: 479px) {
    //     width: 100%;
    // }

    //  @media screen and (min-width: 480px) {
    //      width: 450px;}

    @media screen and (min-width: 767px) {
        margin-left: 16px;
        width: 395px;
        margin-bottom: 100px;

    }
}

.subscribe-input__button {
    // outline: 1px solid red;
    color: var(--primary-text-cl);
    border-radius: 30px;
    background-color: var(--menu-avtiv-border-cl);
    border: none;
    font-family: var(--primary-font);

    justify-content: center;
    align-items: center;
    width: 106px;
    height: 42px;
    margin-left: 197px;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 60px;



    @media screen and (min-width: 767px) {

        margin-left: 32px;
        margin-top: 24px;

    }

}

.banan {
    // outline: 1px solid red;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 17px;
    bottom: 17px;
    width: 161px;

    @media screen and (min-width: 480px) {
        width: 280px;
    }

    @media screen and (min-width: 767px) {
        // position: absolute;
        // left: 455px;
        // right: 32px;
        // top: 46px;
        // bottom: 20px;
        width: 281px;
        // height: auto;
        // display: contents;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        left: 656px;
        margin-top: 134px;
        width: 546px;
        height: 266px;
    }
}